* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* NAVBAR */

.navbar {
    height: 60px;
    background: #1e293b;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

/* MAIN AREA */

.main {
    flex: 1;
    display: flex;
}

/* SIDEBAR */

.sidebar {
    width: 220px;
    background: #0f172a;
    color: white;
    padding-top: 20px;
}

.sidebar ul {
    list-style: none;
}

.sidebar li {
    padding: 15px 20px;
    cursor: pointer;
    transition: 0.3s;
}

.sidebar li:hover {
    background: #334155;
    padding-left: 28px;
}

/* CONTENT */

.content {
    flex: 1;
    padding: 40px;
    background: #f1f5f9;
}

/* LOGIN POPUP */

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.6);

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 1000;
}

.popup-box {
    width: 350px;
    background: white;
    padding: 30px;
    border-radius: 10px;
    text-align: center;

    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

.popup-box h2 {
    margin-bottom: 20px;
}

.popup-box input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.popup-box button {
    width: 100%;
    padding: 10px;
    background: #2563eb;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.popup-box button:hover {
    background: #1d4ed8;
}

/* LOGOUT POPUP */

.logout-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.5);

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 2000;
}

.logout-popup {
    background: white;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    width: 300px;

    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

.popup-buttons {
    margin-top: 20px;
}

.popup-buttons button {
    margin: 10px;
    padding: 8px 16px;
    border: none;
    border-radius: 6px;
}

.cancel {
    background: #ccc;
}

.logout {
    background: #e74c3c;
    color: white;
}